:root {
  --white: #fff;
  --brand-color: #2196f3;
  --black: #000;
  --shadow: #2f303a;
  --shadow2: #212121;
}
body {
  color: #757575;
  background: var(--white);
  font-family: "Roboto", "raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header > .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.header {
  background: var(--white);
  border-bottom: 1px solid #ececec;
}
.title {
  color: var(--brand-color);
}
.headline4 {
  font-weight: 700;
  line-height: 1.17;
  color: var(--black);
  margin-bottom: 10px;
}
.logo-link {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section1 {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(98, 100, 110, 0.4),
      rgba(98, 100, 110, 0.4)
    ),
    url("../images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  padding-bottom: 94px;
}
.section > .section1 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
  margin: 0;
}

.list1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--shadow2);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 254px;
  transition: color;
}
.navigation {
  display: flex;
  margin-left: 93px;
}
.list1-link {
  text-decoration: none;
  color: var(--shadow2);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list1 :hover,
.list1 :focus {
  color: var(--brand-color);
  text-decoration: none;
}
.list1-link:hover::after,
.list1-link:focus::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid var(--brand-color);
  border-radius: 2px;
  top: 31px;
}
.button1 {
  background: var(--brand-color);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-top: 30px;
}
.adres-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.17;
  padding-left: 0%;
  margin-left: 345px;
  width: 321px;
}
.footer-adres-list {
  list-style: none;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0%;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  display: flex;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
.mail:focus {
  color: var(--brand-color);
  text-decoration: none;
  fill: var(--color2, #2196f3);
}
.mail1:hover,
.mail1:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  display: flex;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover,
.phone:focus {
  color: var(--brand-color);
  text-decoration: none;
  fill: var(--color2, #2196f3);
}
.phone1:hover,
.phone1:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.headline2 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
}
.list2 {
  list-style: none;
  text-align: left;
  line-height: 1.71;
  display: flex;

  padding-left: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list2 li {
  text-decoration: none;
}
.list2 li:nth-child(1n + 2) {
  margin-left: 30px;
}
.headline3 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  margin-top: 94px;
}
.list3 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0%;
  margin-top: 50px;
}
.list3 li {
  text-decoration: none;
  position: relative;
}
.list4 {
  text-align: center;
  list-style: none;
  display: flex;

  padding-left: 0%;
}
.list4 li {
  text-decoration: none;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list4 li:nth-child(1n + 2) {
  margin-left: 30px;
}
.figure {
  margin: 0;
  margin-bottom: 30px;
}
.figcaption {
  font-weight: 500;
  text-align: center;
  color: var(--black);
  line-height: 1.17;
}
.figure-img {
  margin-bottom: 30px;
}
.figcaption-p {
  margin-top: 10px;
}
.section4 {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 94px;
}
.footer1 {
  background: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white);
  display: flex;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 13px;
}
.footer2 {
  display: flex;
}
.mail1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link1 {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title1 {
  color: var(--white);
}

.section-buttons {
  list-style: none;

  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-top: 94px;
  padding-bottom: 50px;
}
.button1-1 {
  font-weight: 500;
  font-family: "Roboto";
  border-style: none;
  background: #f5f4fa;
  cursor: pointer;
  line-height: 1.62;
  border-radius: 0px 0px 4px 4px;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button1-1:active {
  background: var(--brand-color);
}
.section-buttons li:nth-child(1n + 2) {
  margin-left: 8px;
}
.button1-1:hover,
.button1-1:focus {
  color: var(--white);
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.figcaption1 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
}
.figcaption2 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
  line-height: 2;
  margin-left: 24px;
}
.figcaption2-text {
  line-height: 1.87;
  margin-left: 24px;
  margin-bottom: 20px;
}
.adres-list {
  list-style: none;
}
.portfolio-section {
  display: flex;
}
.list1-2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.list1-2 li:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.list1-2 li {
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list1-2-figure {
  background: #ffffff;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  z-index: 1001;
}
.list1-2 li:hover,
.list1-2 li:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list1-2-figcaption {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  z-index: 1002;
  position: relative;
}
.logo-link:hover,
.logo-link:focus {
  color: var(--brand-color);
}
.logo-link1:hover,
.logo-link1:focus {
  color: var(--white);
}
.img {
  display: block;
}
.adres-list li:first-child {
  margin-right: 30px;
}
.footer-adres-list li {
  margin-bottom: 9px;
}
ul {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.list5 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 94px;
  list-style: none;
}
.envelope {
  margin-right: 10px;
}
.smartphone {
  margin-right: 10px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  margin-right: 10px;
  transition-property: fill, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  display: flex;
  color: currentColor;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 18px;
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list-link-footer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  fill: #fff;
  margin-right: 10px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  display: flex;
  color: currentColor;
  justify-content: center;
  align-items: center;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 18px;
  list-style: none;
}

/*fill="#2196f3" style="fill: var(--color2, #2196f3)*/
.client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon:hover,
.client-icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
.active {
  text-decoration: none;
  color: var(--brand-color);
}
.active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid var(--brand-color);
  border-radius: 2px;
  top: 31px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn,
.x {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 490px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 15px;
  display: block;
  justify-items: center;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, scale, opacity;
  transform: translate(-50%, -50%);
}
.is-hidden .modal {
  transform: translate(-50%);
  transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: scale, opacity, transform;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  opacity: 90%;
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 24px 49px 24px;
}
.list1-2-figure:hover .overlay,
.list1-2-figure:focus .overlay {
  transform: translatey(0);
}
.box-overlay {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 1%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
}
.form1 {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  position: relative;
}
.form1-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.form2 {
  display: flex;
  flex-wrap: wrap;
  width: 448px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}
.textarea {
  margin-top: 4px;
  font-size: 12px;
  height: 120px;
  resize: none;
  padding-top: 1rem;
  padding-left: 1rem;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus,
.textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.input {
  height: 40px;
  width: 448px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus,
.input:hover {
  border: 1px solid #2196f3;
  fill: var(--brand-color);
  outline: none;
}
.newsletter {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin-left: 70px;
  margin-top: 13px;
}
.form2-button {
  background: var(--brand-color);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  margin-left: 124px;
}
.label1 {
  font-size: 12px;
  font-weight: 400;
}
.button-footer {
  background: var(--brand-color);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;

  letter-spacing: 0.06em;

  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-left: 12px;
}
.send {
  fill: #fff;
  margin-left: 24px;
}
.name {
  position: absolute;
  top: 107px;
  left: 15px;
}
.telefon {
  position: absolute;
  top: 174.26px;
  left: 14.27px;
}
.modal-email {
  position: absolute;
  top: 243px;
  left: 13.5px;
}
.form1 label:focus-within svg {
  fill: var(--brand-color);
}
.label2 {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.label2::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 8px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input1:checked + .label2::before {
  background-color: var(--brand-color);
  background-image: url(../images/vector.svg);
  background-position: 50% 50%;
  border: none;
  background-repeat: no-repeat;
}
.input0 {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input0:focus,
.input0:hover {
  border: 1px solid var(--brand-color);
  outline: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.form {
  height: 50px;
  display: flex;
  padding-top: 20px;
}
